@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.section-container {
  @apply max-w-screen-xl mx-auto px-4 md:px-8 lg:px-16;
}
.title {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold leading-snug;
}
.subtitle {
  @apply  tracking-wide text-lg font-semibold uppercase;
}

.btn-style {
  min-height: 2rem;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 24px;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #ea001e;
  transition: all 0.3s ease;
}
